madoodia {
  color: #ff404142;
  color: #ffd0d0d0;
  color: #60a4a6a8;
  color: #fff0f0f0;
  color: #bcfbfdff;
  color: #56a5a6a7;
  color: #ffd0d0d0;
  color: #b6fbfdff;
  color: #28ffffff;
  color: #7a000000;
  color: #ff1d545c;
  color: #ff2e2f30;
  color: #ff353637;
  color: #ffdf4f4f;
  color: #ffecbc1c;
  color: #ff06080a;
  color: #ff007af4;
  color: #ffa57aff;
  color: #ff444444;
  color: #ff4c4e50;
  color: #ff404040;
  color: #ff595959;
  color: #ffffffff;
  color: #ff909090;
  color: #ff454444;
  color: #ff313131;
  color: #ff363636;
  color: #ff444444;
  color: #ff565656;
  color: #ff7a7a7a;
  color: #ff565656;
  color: #ff1d545c;
  color: #ff7a7a7a;
  color: #ff4d4d4d;
  color: #ff505050;
  color: #ff7f7f7f;
  color: #ff505050;
  color: #ff7a7a7a;
  color: #ffaaaaaa;
  color: #ff7a7a7a;
  color: #ff1d545c;
  color: #ffdf3a3a;
  color: #ff363636;
  color: #ff4d4d4d;
  color: #ff7a7a7a;
  color: #ff1d545c;
  color: #ffffffff;
  color: #ff4d4d4d;
  color: #ff505050;
  color: #ff4d4d4d;
  color: #ff7f7f7f;
  color: #ff424242;
  color: #ff99ccff;
  color: #ffe00000;
  color: #ff009900;
  color: #ff6060ff;
  color: #ffe0e0e0;
  color: #ff808080;
  color: #ff606060;
  color: #ffffffff;
  color: #ff0000;

  color: #22ffffff;
  color: #18ffffff;
  color: #ff505050;
  color: #ff3099dc;
  color: #ff71b2db;
  color: #fff2d76e;
  color: #ffdb6f71;
  color: #ff6da838;
  color: #ff93be6c;
  color: #ffee6969;
  color: #ffe27f7f;
  color: #ff587ff7;
  color: #ff6a7bc3;
  color: #ffebc322;
  color: #ffb06112;
  color: #ff828384;
  color: #ff80c342;
  color: #ff99aaef;
  color: #ffbb6000;
  color: #ff99aaef;
  color: #ff80c342;
  color: #ff43adee;
  color: #fff4be04;
  color: #ff777777;
  color: #ffc0b550;
  color: #ff53b053;
  color: #ffd34373;
  color: #ff2bbbcc;
  color: #ffc0b550;
  color: #ff476ba0;
  color: #ff316511;
  color: #ff994899;
  color: #ffa08833;
  color: #70000000;
  color: #ffd0d0d0;
  color: #ff505000;
  color: #000000;
  color: #ffa0a0a0;
  color: #dda4d576;
  color: #ff999999;
  color: #a0606060;
  color: #ffff4040;
  color: #ffff0000;
  color: #7a6f1c;
  color: #ffff6c6c;
  color: #ff008787;
  color: #ff008787;
  color: #ffff6666;
  color: #fff3c300;
  color: #ff00b400;
  color: #ffcf4848;
  color: #ff28dc28;
  color: #ffdc2828;
  color: #ff828282;
  color: #ffc8c800;
  color: #ffc82828;
  color: #ff329696;
  color: #ff00acac;
  color: #ff00875a;
  color: #ffbf0303;
  color: #ffff6666;
  color: #ffff4040;
  color: #ff999999;
  color: #ff808080;
  color: #ff555555;
  color: #ff444444;
  color: #ff7fc63c;
  color: #ff444444;
  color: #ff555555;
  color: #ff3099dc;
  color: #ff808080;
  color: #ff00ff00;
  color: #ff8ee0ff;
  color: #ffff6c6c;
  color: #ffffa500;
  color: #ffff4040;
  color: #ff8080ff;
  color: #ff00c000;
  color: #ffffffff;
  color: #ff1d545c;
  color: #ff4ba2ff;
  color: #ffffffff;
  color: #ff262728;
  color: #ff595b5c;
  color: #ff595b5c;
  color: #ffff3333;
  color: #00000000;
}
